

{% extends "base.html" %}

{% block body %}
<div class="container mx-auto py-8">
    <div class="flex gap-2">
  <img src="{{ category.image.url }}" alt="" class="w-12 h-12 rounded-full">
  <h1 class="text-2xl font-bold"> {{ category.name }}</h1>
</div>
  <ul class="mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {% for product in products %}
  <a href="{% url 'product_detail' product.id %}" class="flex flex-col bg-white rounded-lg shadow-md p-4 hover:bg-blue-200 transition duration-100 w-full">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mt-2">

    <div class="flex flex-col justify-center items-center mt-2">
      <h2 class="text-lg font-semibold text-center">{{ product.name }}</h2>
      <p class="text-white bg-green-500 rounded py-1 px-3 inline">${{ product.price }}</p>
      <form action="{% url 'add_to_cart' product.id %}" class="mt-2 inline">
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
      </form>
    </div>
  </a>
  {% endfor %}
</div>
  </ul>
</div>
{% endblock  %}