{% extends "base.html" %}

{% block body %}
<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="rounded-lg">
    </div>
    <div>
      <h1 class="text-2xl font-bold">{{ product.name }}</h1>
      <p class="mt-4">{{ product.description }}</p>
      <p class="mt-2 text-gray-600">Price: ${{ product.price }}</p>
      <p class="mt-2 text-gray-600">Category: {{ product.category.name }}</p>
      <form action="{% url 'add_to_cart' product.id %}">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 w-full"> Add to Cart</button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}